.addBtn {
    right: 20px;
}

.name-actionLib {
    width: 15%;
}

.video-actionLib {
    width: 10%;
}

.lengthTime-actionLib {
    width: 10%;
}

.content-actionLib {
    width: 15%;
}

.apparatus-actionLib {
    width: 10%;
}

.state-actionLib {
    width: 10%;
}

.establish-actionLib {
    width: 10%;
}

.operation-actionLib {
    width: 15%;
}