input.timeBox{
	background-image: url(../img/calendar.png);
	background-repeat: no-repeat;
	background-position: 470px center;
}

.articleContent{
	margin-top: 20px;
	overflow: hidden;
}

.articleContent textarea{
	display: block;
	width: 70%;
	max-height: 400px;
	min-height: 38px;
	background-color: #EFF2F7;
	border: none;
}

.articleContent span{
	min-width: 0px;
}