.name-user{
	width: 10%;
}

.img-user{
	width: 10%;
}

.phone-user{
	width: 10%;
}

.sex-user{
	width: 5%;
}

.height-user{
	width: 10%;
}

.weight-user{
	width: 10%;
}

.target-user{
	width: 10%;
}

.time-user{
	width: 10%;
}

.state-user{
	width: 10%;
}

.operation-user{
	width: 10%;
}